# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.fraud/

# Environment variables
.env

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# Models
models/

# Logs
logs/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Ruff / cache
.ruff_cache/

.virtual_documents/

anaconda_projects/